<div class="cards-slider-wrapper" ng-class="{'reverse': vm.isReverse}">
    <div class="close-slider ctrl glyphicon glyphicon-remove" ng-click="vm.close()"></div>
    <div class="controls">
        <span ng-click="vm.prev()"  ng-show="!vm.isPlaying" class="ctrl glyphicon glyphicon-chevron-left"></span>
        <span ng-click="vm.play()"  ng-show="!vm.isPlaying" class="ctrl glyphicon glyphicon-play"></span>
        <span ng-click="vm.pause()" ng-show="vm.isPlaying"  class="ctrl glyphicon glyphicon-pause"></span>
        <span ng-click="vm.next()"  ng-show="!vm.isPlaying" class="ctrl glyphicon glyphicon-chevron-right"></span>
    </div>

    <div class="thumbnail" ng-repeat="card in vm.cards" ng-show="vm.index === $index">
        <img ng-src="{{card.url}}" alt="{{card.title}}">
        <div class="caption">
            <h4>{{card.title}}</h4>
            <p>{{card.short_desc}}</p>
        </div>
    </div>
</div>